/* AddDoctorForm.css */
.add-doctor-form {
    margin-top: 30px;
    max-width: 80%;
    width: 85%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items:center;
  }
  
  .add-doctor-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .add-doctor-form div {
    margin-bottom: 15px;
  }
  
  .add-doctor-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-doctor-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .add-doctor-form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-doctor-form button:hover {
    background-color: #0056b3;
  }
  