/* Wrapper for dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #F0F2FA;
    
  }
  
  /* LeftPanel styling */
  .LeftPanel {
    width: 250px; /* Fixed width of the LeftPanel */
    background-color: #f4f4f4;
    height: 100vh; /* Full viewport height */
    position: relative; /* Fixed so it doesn't take up space in the layout */
    top: 0;
    left: 0;
    transition: transform 0.8s ease; /* Smooth slide-in/out effect */
    z-index: 10; /* Make sure it sits on top */
    }
  
  /* If the panel is closed, it slides out of view */
  .LeftPanel.closed {
    transform: translateX(-100%); /* Move the panel off-screen */
  }
  
  /* Panel when open */
  .LeftPanel.open {
    transform: translateX(0); /* Bring the panel into view */
  }
  
  /* Content of the dashboard */
  .dashboard-content {
    display: flex;
    flex: 1; /* Take up the remaining space */
    flex-direction: column;
    position:relative;
    padding:0;
    width: 100%;  
    transition: margin-left 0.5s ease; /* Smooth shift when the LeftPanel is toggled */
    overflow-y: auto;
    max-height: 100vh;
    align-items: center;
  }
  
  /* Shift the content when the LeftPanel is open */
  .dashboard-container.left-panel-open .dashboard-content {
    margin-left: 250px; /* Match the LeftPanel width */
    align-items: start;
  }
  
  .dashboard-container.left-panel-closed .dashboard-content {
    margin-left: 10px; /* When the panel is closed, content should fill the space */
  }
  